body
{
    background-color: aquamarine;
    text-align: justify;
}
h1{
    text-align: center;
}
#container
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding-left: 450;
    background-color: antiquewhite;
}