body{
    background-color: lightseagreen;
    margin: 50 500;
}
h2
{
    text-align: center;
    /* text-indent: 50px; */
}
#container
{   
    padding-top: 10;
    padding-bottom: 10;
    width : 400;
    height: 350;
    background-color: seagreen ;
    text-align: center;
}